<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>
    <nav>
        <a href="/store/new">
            Add a new product
        </a>
    </nav>
    <h1>Shop</h1>
    <ul>
        <% product.forEach(product => { %>
            <li>
                <a href="/store/<%= product._id %> ">
                    <%= product.name %>
                    <img src="<%= product.img %> " alt="<%= product.name %> ">
                </a>
                Price: $<%= product.price %>
            </li>
        <% }) %> 
    </ul>

</body>
</html>