<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Mongoose Store</title>
</head>
<body>
    <nav>
        <a href="/store/new">
            Add a new product
        </a>
    </nav>
    <h1>Shop</h1>
    <ul>
        <% product.forEach(product => { %>
            <li id='container'>
                <a href="/store/<%= product._id %> ">
                    <%= product.name %>
                    <img src="<%= product.img %> " alt="<%= product.name %> ">
                </a>
                Price: $<%= product.price %>
                <form action="/store/<%= product._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="delete">
                </form>
                <a href="/store/<%=product._id %>/edit">Edit</a>
            </li>
        <% }) %> 
    </ul>

</body>
</html>